<div class=" w-2/4 mx-auto flex flex-col
">
  <div class="border-2 border-black p-2 

">
    <h3 class="mb-6">Post #<%= @post.id %> by <%= @user.name%></h3>
    <p>
      <%= @post.text %>
      <div class="flex w-full flex-row-reverse items-center">
        <%= button_to like_user_post_path(@user, @post), method: :post, remote: true, class: 'like-button' do %>
          <i class="fa fa-heart" style="color: red;" aria-hidden="true"></i>
        <% end %>
        <p class="mr-2">Likes: <%= @post.likes_counter %></p>
        <p class="mr-2">Comments: <%= @post.comments_counter %></p>
      </div>
    </p>
  </div>
  <div class="border-2 border-black p-2
">
    <div class="flex items-center" style="justify-content: space-between; ">
      <h3 class="mb-6">Comments</h3>
      <a class="border-2 border-black p-2" href="<%= new_user_post_comment_path(@user, @post) %>">
        Add a comment
      </a>
    </div>
    <% @post.comments.each do |comment| %>
      <p><span class="font-bold
"><%= comment.author.name%></span>: <%= comment.text%></p>
    <%end%>
  </div>
</div>
